@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 1600px;
}



.logo {
    width: 200px;
    height: auto;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textonav {
    font-size: 40px;
    color: #000;        
    font-weight: 700;
    font-family: Roboto, sans-serif;
}

p {
    font-size: 25px;
    color: white;        
    font-weight: 500;
    margin-left: 300px;
    margin-right: 300px;    
    font-family: Inter, sans-serif;
}

.invade {
    width: 50%;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 390px;
    border-radius: 3%;
}

.textos {
    background-color: green;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 10px 0px;
}

.btt {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px;
    cursor: pointer;
    border-radius: 5px;
    font-family: Inter, sans-serif;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}